.tasks {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    gap: 14px;
}

.single_task {
    width: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 28px 18px 28px 28px;
}

.single_task span {
    font-size: 16px;
}

.task_btns {
    display: flex;
    font-size: 20px;
    box-sizing: border-box;
    padding-left: 10px;

    svg {
        transition: all .5s;
        will-change: color;
        color: #B6B6B6;
        cursor: pointer;

        &:hover {
            color: #F13A00;
        }
    }
}